.project-section {
  display: flex;
  flex-wrap: wrap;
 
}

.project-card {
  width: calc(100vw / 4 - 2px);
  height: calc(100vh / 3 - 1px);
  border: var(--crayolaColor) 1px solid;
  img {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
  
    &:hover {
      opacity: 1;
    }
  }
}

.logo {
  left: 64px;
  top: 32px;
  position: absolute;
  z-index: 100;
  img {
    width: 60%;
  }
  
}

.landing-text {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  z-index: -100;
}

.about {
  position: absolute;
  right: 64px;
  top: 32px;
  z-index: 100;
  h3 {
    &:hover {
      text-decoration: underline;
    }
  }
}

.center {
  text-align: center;
}

.margin-lr {
  margin: 0 var(--margin);
}


.padding-tb {
  padding: 64px 0;
}

.content-col {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column-4 {
  width: 25%;
}

.column-3 {
  width: 33%;
  img {
    width: 100%;
  }
  video {
    width: 100%;
  }
}


.br {
  padding-bottom: 32px;
}